body {
    width: 90%;
    margin: 0 auto;
    background-color: deepskyblue;
}

.wrapper {
    display: flex;
    flex-direction: column;
/*    min-height: 100vh;*/
}

.header {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
/*    max-height: 10vh;*/
    justify-content: space-between;
    background-color: gold;
}

.header__icon {
    max-width: 10vw;
}

.header__icon img {
    max-height: 50px;
}

.header__profile {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.header__user-name {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header__user-name span {
}

.header__login-btn {
}

.header__login-btn button {
    max-height: 100%;
    padding: 10px 50px;
    border: 2px solid black;
    background-color: white;
}

.main {
/*    min-height: 90vh;*/

}

.main__sort {
    background-color: yellowgreen;
/*    max-height: 6vh;*/
    padding: 15px 0;
}

.main__sort select {
    max-width: 140px;
    padding: 7px 5px;
}

.main__content {
/*    min-height: 60vh;*/
    background-color: coral;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
}

.content {
}

.content__item {
    position: relative;
    max-width: 90%;
    height: fit-content;
    background-color: darkslategray;
    padding: 0 4px;
}

.content__item:hover > .hover {
    display: block;
}

.title {
    margin: 2px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;

}

.poster {
    width: 100%;
}

.description {
    margin: 0;
    padding: 2px;
    color: yellow;
    font-size: 10px;
}

.release_data {
    margin: 0;
}

.rating {
    margin: 0;
    padding: 2px;
    color: greenyellow;
    font-size: 12px;
}

.genres {}
.hover {
    min-width: 100%;
    position: absolute;
    left: 0;
    top: 1.1rem;
    background-color: darkslategray;
}
.popularity {}
.vote_count{}

.description,
.hover,
.genres,
.popularity,
.vote_count {
    display: none;
}

.modal__window > .description,
.modal__window >.hover,
.modal__window >.genres,
.modal__window >.popularity,
.modal__window >.vote_count {
    display: block;
}


.main__paginator {
    background-color: blueviolet;
}

.paginator {
/*    min-height: 10vh;*/
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paginator div {
    background-color: yellowgreen;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 3px;
    padding: 10px;
}

.paginator .active {
    background-color: red;
    color: white;
}

.hardHide {
    position: absolute;
    left: -300000px;
    top: -9999999px;
    display: none;
}

.modal__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    background-color: black;
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-content: center;
}

.modal__window {
    display: flex;
    width: 50%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: greenyellow;

}

.modal__window > img {
    width: 250px;
}

.modal__window > .hover {
    background-color: inherit;
    width: 100%;
    position: inherit;
}

.modal__window > .description {
    font-size: 14px;
}


.login_wnd {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 450px;
    padding: 50px;
}

.login_wnd > * {
    margin-top: 15px;
}

.login_wnd > button {
    width: fit-content;
}



